.table-actions-td {
    min-width: 200px !important;
    max-width: 200px !important;
}

.table-actions-th {
    min-width: 200px !important;
    max-width: 200px !important;
}

.table-id-td {
    text-align: center;
}